:root {
  --user-color: #0a85ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("./resources//images/cursor.png"), auto;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "SF Regular";
  src: local("sfregular"),
    url(./resources/fonts/sfregular.otf) format("opentype");
}

@font-face {
  font-family: "SF Medium";
  src: local("sfmedium"), url(./resources/fonts/sfmedium.otf) format("opentype");
}

@font-face {
  font-family: "SF Bold";
  src: local("sfbold"), url(./resources/fonts/sfbold.otf) format("opentype");
}

@font-face {
  font-family: "SF Semibold";
  src: local("sfsemibold"),
    url(./resources/fonts/sfsemibold.otf) format("opentype");
}

@font-face {
  font-family: "SF Light";
  src: local("sflight"), url(./resources/fonts/sflight.otf) format("opentype");
}
