.inputField {
    width: 351.68px;
    margin-left: 1px;
    border: none;
    border-radius: 4px;
    outline: none;
    height: 24px;
    border-top: 1px solid #79797b;
    background: rgb(92,92,94);
    background: linear-gradient(360deg, rgba(92,92,94,1) 0%, rgba(97,97,99,1) 100%);
    border-bottom: 1px solid #616163;
    padding-left: 12em;
    font-size: 13.2px;
    font-family: "SF Medium";
    letter-spacing: 0.015em;
    color: white;
}