* {
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: 1px solid rgb(95, 94, 94);
    border-radius: 8px;
    z-index: 20 !important;
    background-color: rgba(0, 0, 0, 0.275);
    position: absolute;
    width: 200px;
    padding: 11px 8px 8px 8px;
    left: 0;
    top: 30px;
    box-shadow: 0px 0px 7px black;

    .divider {
        margin: -2px 0px 1px 0px;
        height: 1px;
        background-color: rgb(95, 94, 94);
    }

    .dropdown-item {
        padding: 0px 8px;
        font-size: 14.6px;
        font-family: "SF Regular";
        transform: scaleY(1.03);
    }
}

.dropdown-menu::after {
    backdrop-filter: blur(25px);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1 !important;
    position: absolute;
    left: 0;
    top: 0;
}