.query-board {
  width: 100%;
  display: flex;
  cursor: url("../../resources//images//grabbing.png"), auto;
  align-items: center;
  border-top: 1px solid #696971;
  border-bottom: 1px solid #141318;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: rgb(43, 42, 47);
  background: linear-gradient(
    360deg,
    rgba(43, 42, 47, 1) 0%,
    rgba(53, 53, 55, 1) 100%
  );
  box-sizing: border-box;
  height: 2.55em;
  padding-left: 13px;

  .fullscreen-btn {
    margin-left: 0.4em;
    width: 41px !important;

    .fullscreen {
      height: 18px;
      margin-bottom: 1px;
    }
  }

  .dot {
    border-radius: 9999px;
    border: none;
    height: 0.83em;
    width: 0.81em;
    margin-right: 9px;
    cursor: url("../../resources/images/pointing.png"), auto;

    &:hover {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.22);
    }
  }

  .red {
    background-color: rgb(255, 69, 58);
  }

  .yellow {
    background-color: rgb(255, 214, 10);
  }

  .green {
    background-color: rgb(48, 209, 88);
    margin-right: 0.9em;
  }

  .nav {
    height: 24px;
    width: 27px;
    background-color: #5b5c60;
    border-radius: 4px;
    border-top: 1px solid #747579;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s all;
    cursor: url("../../resources/images/pointing.png"), auto;

    &:hover {
      background-color: #636466;
    }

    &:active {
      transform: scale(0.95);
    }

    .arrow {
      height: 14px;
      margin-bottom: 1px;
    }

    .forward {
      margin-left: 1px;
      fill: #848589;
    }

    .back {
      rotate: (180deg);
      fill: white;
    }

    .chat {
      height: 16px;
      width: 18px;
      margin-bottom: 1px;
    }

    .cat {
      height: 20px;
      margin-bottom: 1px;
      fill: white;
    }
  }

  .chat-btn {
    margin-left: 0.5625em;
    margin-right: 1.365em;
    width: 40px;
  }

  .github-btn {
    width: 40px;
    margin-right: 0.525em;
  }

  .forward-btn {
    cursor: not-allowed;
  }
}
