.nav-bar {
    width: 100vw;
    height: 29px;
    z-index: 12;
    position: absolute;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);

    &::after {
      content: "";
      position: absolute;
      inset: 0.01%;
      height: inherit;
      width: inherit;
      z-index: -1;
      background-color: black;
      opacity: 0.075;
    }

    .right {
        display: flex;
        align-items: center;
        font-size: 0.825em;
        font-family: "SF Regular";
        position: absolute;
        right: 8px;
        top: 2px;

        .date {
            margin-right: 9px;
        }

        .settings {
            height: 26px;
            fill: white;
            padding: 5px 8px;
            margin-right: 9px;
            cursor: url("../../resources/images/pointing.png"), auto;

            path {
                pointer-events: none;
            }
        }
    }
}

    .section {
        padding: 5px 8px;
        font-size: 13px;
        border: none;
        border-radius: 6px;
        font-family: "SF Regular";
        color: white;
        cursor: url("../../resources/images/pointing.png"), auto;
        background-position: 50% 50%;
        transition: 2s all;
        position: relative;
    }

    .not-selected {
        background-color: "";
        background-size: "5px 5px";
        width: 5px;
        height: 5px;
        border-radius: 6px;
        transition: 0.175s all;
        position: absolute;
        top: 45%;
        left: 45%
    }

    .selected-logo {
        background-color: rgba(255, 255, 255, 0.25);
        width: 37px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-finder {
        background-color: rgba(255, 255, 255, 0.25);
        width: 58px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-file {
        background-color: rgba(255, 255, 255, 0.25);
        width: 38px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-edit {
        background-color: rgba(255, 255, 255, 0.25);
        width: 39px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-view {
        background-color: rgba(255, 255, 255, 0.25);
        width: 46px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-go {
        background-color: rgba(255, 255, 255, 0.25);
        width: 33px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-window {
        background-color: rgba(255, 255, 255, 0.25);
        width: 65px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .selected-help {
        background-color: rgba(255, 255, 255, 0.25);
        width: 44px;
        border-radius: 6px;
        height: 29px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.175s all;
        background-size: "29px 35px";
        pointer-events: none;
    }

    .finder {
        font-family: "SF Bold";
        margin-right: 4px;
    }

    .logo {
        margin-left: 10px;
        padding: 5px 12px;
        margin-right: 8px;
    }


.apple {
    height: 16px;
}

.not-selected {
    pointer-events: none;
}