.daily-temps {
  display: flex;
  gap: 20px;
  margin-left: 20px;

  div {
    display: flex;
    gap: 6px;
    align-items: center;

    h3 {
    }

    .highest-h3 {
      width: 40px;
    }

    .lowest-h3 {
      width: 40px;
    }

    .icon {
      fill: white;
      height: 17px;
      margin-right: 10px;

    }

    .highest-icon {
      width: 16px;
    }

    .lowest-icon {
      width: 16px;
    }
  }
}
