.daily-con {
  display: flex;
  gap: 8px;
  text-align: start;

  h3 {
    margin-left: 14px;    
    margin-right: 100px;
    width: 120px;
  }

  * {
    max-height: 24px;
  }

  *:not(h3) {
    width: 24px;
    margin-left: 200px;
  }
}
