.dock {
    display: flex;
    background-color: hsla(240, 3%, 11%, .4);
    box-shadow: 0px 0px 4px black;
    height: 71px !important;
    justify-content: center;
    gap: 1px;
    align-items: center;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 18px;
    min-width: 618px;
    margin-top: 50px;
    position: absolute;
    bottom: 6px;
    backdrop-filter: blur(20px);

    .finder {
        margin-right: 1px;
    }

    .dock-icon {
        height: 3.59rem;
        cursor: url("../../resources//images/pointing.png"), auto;
        transition: 0.175s all ease-in-out;

        &:hover {
            height: 90px;
            width: 89px;
            margin-bottom: 30px;
        }
    }

    .division {
        width: 1px;
        height: 62px;
        background-color: rgb(85, 84, 84);
        margin-left: 2px;
        margin-right: 2px;
    }
}

.dock-icon:hover .dock {
    width: 900px;
}