.dock {
  display: flex;
  background-color: hsla(240, 3%, 11%, 0.4);
  box-shadow: 0px 0px 4px black;
  height: 71px !important;
  justify-content: center;
  gap: 1px;
  align-items: center;
  border: 1px solid rgb(85, 84, 84);
  border-radius: 18px;
  min-width: 618px;
  margin-top: 50px;
  position: absolute;
  bottom: 9px;
  backdrop-filter: blur(20px);
  overflow-y: visible !important;

  .finder {
    margin-right: 1px;
  }

  .dock-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 4px;
    transition: 0.175s all ease-in-out;
    position: relative;

    .tool-tip {
      position: absolute;
      top: -40px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 8px 3px 8px;
      border: 1px solid #707272;
      backdrop-filter: blur(20px);
      transition: 0.2s all;
      opacity: 0;
      visibility: hidden;
    }
  }

  .no-point {
    margin-bottom: 9px;
  }

  .dock-icon {
    height: 3.59rem;
    cursor: url("../../resources//images/pointing.png"), auto;
    transition: 0.175s all ease-in-out;
  }

  .division {
    width: 1px;
    height: 62px;
    background-color: rgb(85, 84, 84);
    margin-left: 2px;
    margin-right: 2px;
  }
}

.dock-item:hover {
  margin-bottom: 35px;

  &:hover {
    .tool-tip {
      opacity: 1;
      visibility: visible;
    }

    .dock-icon {
      height: 90px;
      width: 88px;
    }
  }
}

.distance-1 {
  margin-bottom: 22px !important;

  .dock-icon {
    height: 70px;
    width: 69px;
  }
}

.distance-1.no-point {
  margin-bottom: 25px !important;
}

.distance-2 {
  margin-bottom: 14px !important;

  .dock-icon {
    height: 62px;
    width: 61px;
  }
}

.hovered.no-point {
  margin-bottom: 40px !important;
}

.point {
  height: 4px;
  width: 4px;
  border-radius: 9999px;
  background-color: white;
  justify-self: center;
  margin-right: 2px;
}
